@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300&display=swap');

html, body {
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
}

.app__navbar{
    color: #fff;
    backdrop-filter: blur('4px');
    -webkit-backdrop-filter: blur('4px');
}

